* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

.logo {
  width: 100px;
  cursor: pointer;
}

h3 {
  display: block;
}



header .container {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  text-decoration: none;
  color: rgb(87, 87, 87);
  margin-right: 10px;
}

header nav a:hover {
  color: #e60012;
}



#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#search {
  display: flexbox;
}

.container {
  display: inline-block;
}

#lista {
  list-style-type: none;
  padding: 0;
  width: 50%;
  float: left;
  justify-content: center;
}

#mytags {

  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
}

#gameList li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

.btn {
  margin-right: 5px;
}

#gameList li a:hover:not(.header) {
  background-color: #eee;
}

#myBtnContainer {
  display: inline-block;
  width: 50%;
}

.filterDiv {
  visibility: visible;
  /* Hidden by default */
}

.show {
  visibility: visible;
}

.errspan {
  float: right;
  margin-right: 6px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  color: red;
}

.btn-outline-primary {
  color: #e60012;
  background-color: #ffffff;
  border-color: #ff727e;
  /*set the color you want here*/
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.open>.dropdown-toggle.btn-outline-primary {
  color: #fff;
  background-color: #e60012;
  border-color: #ff727e;
}

/*set the color you want here*/